# Introduction to Data Science:

### Python Functions:

In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
obj3['California']

True

In [3]:
import math
math.isnan(obj2['California'])

True

In [4]:
obj2['California'] == None

False

In [5]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [6]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [7]:
S.iloc[0:2]

1    Alice
2      Bob
dtype: object